<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nodo">
      <h2 data-cy="nodoDetailsHeading"><span jhiTranslate="proyectoEstructurasDosApp.nodo.detail.title">Nodo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nodo.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.nodo.name">Name</span></dt>
        <dd>
          <span>{{ nodo.name }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.nodo.x">X</span></dt>
        <dd>
          <span>{{ nodo.x }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.nodo.y">Y</span></dt>
        <dd>
          <span>{{ nodo.y }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/nodo', nodo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
