<div>
  <h2 id="page-heading" data-cy="NodoHeading">
    <span jhiTranslate="proyectoEstructurasDosApp.nodo.home.title">Nodos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoEstructurasDosApp.nodo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nodo"
        [routerLink]="['/nodo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoEstructurasDosApp.nodo.home.createLabel"> Create a new Nodo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nodos?.length === 0">
    <span jhiTranslate="proyectoEstructurasDosApp.nodo.home.notFound">No nodos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nodos && nodos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="proyectoEstructurasDosApp.nodo.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="x"><span jhiTranslate="proyectoEstructurasDosApp.nodo.x">X</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="y"><span jhiTranslate="proyectoEstructurasDosApp.nodo.y">Y</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nodo of nodos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nodo', nodo.id, 'view']">{{ nodo.id }}</a>
          </td>
          <td>{{ nodo.name }}</td>
          <td>{{ nodo.x }}</td>
          <td>{{ nodo.y }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/nodo', nodo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/nodo', nodo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nodo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nodos && nodos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
