<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="arco">
      <h2 data-cy="arcoDetailsHeading"><span jhiTranslate="proyectoEstructurasDosApp.arco.detail.title">Arco</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ arco.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.arco.weight">Weight</span></dt>
        <dd>
          <span>{{ arco.weight }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.arco.from">From</span></dt>
        <dd>
          <span *ngFor="let from of arco.froms; let last = last">
            <a [routerLink]="['/nodo', from?.id, 'view']">{{ from.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="proyectoEstructurasDosApp.arco.to">To</span></dt>
        <dd>
          <span *ngFor="let to of arco.tos; let last = last">
            <a [routerLink]="['/nodo', to?.id, 'view']">{{ to.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/arco', arco.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
